html {
  scroll-behavior: smooth;
}

body {
  background-color: #e5e5e5;
  color: #0f2047;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Patrick", cursive;
}

nav {
  list-style-type: none;
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 0.5em;
  transition: all 0.7s ease;

  .nav-link {
    color: inherit;
    text-decoration: inherit;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0em;
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
  }

  li {
    padding: 0.5em;
  }

  li:hover {
    text-decoration: underline;
    text-decoration-color: #daa520;
  }
}

.home-content {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 35%;
  height: 100vh;
}

.projects {
  margin-left: 10%;
  margin-right: 30%;
  padding-top: 5%;
}

.about {
  margin-left: 10%;
  margin-right: 35%;
  padding-top: 5%;

  h1 {
    font-size: 5em;
    margin: 0;
  }

  p {
    font-size: 2em;
  }
}

.hi {
  font-size: 2em;
  margin: 0;
  margin-bottom: 0.5em;
}

.my-name {
  font-size: 5em;
  margin: 0em;
}

.intro {
  font-size: 2em;
  margin-top: 0.5em;
  max-width: 20em;
}

button {
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 0.5em;
  border: 0.2em;
  font-family: inherit;
  font-size: 2em;
  color: #0f2047;
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}

button:hover {
  cursor: pointer;
  border: solid #0f2047 2px;
  box-shadow: 2px 3px 8px #081731;
  color: #daa520;
}

.projects-container {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 2em;
    margin: 0;
  }
  h3 {
    font-size: 1.5em;
    margin: 0;
  }
  p {
    font-size: 1.5em;
  }

  a {
    text-decoration: none;
    color: inherit;
    transition: all 0.7s ease;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-color: inherit;
  }
}

.my-work-title {
  font-size: 5em;
  margin: 0;
  margin-bottom: 0.25em;
}

.project-card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 1em;
  border-bottom: solid #0f2047 1px;
}

.portfolio-images {
  float: left;
  max-width: 22em;
  max-height: 16em;
  margin-right: 1em;
  margin-top: 1em;
}

.listHub-image {
  border-radius: 10px;
}

.headshot {
  aspect-ratio: fixed;
  width: 15em;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.headshot:hover {
  border-radius: 30px;
}

.last-project {
  border: none;
}

footer {
  position: fixed;
  bottom: 0em;
  right: 0;
  padding: 1em;
  padding-right: 1%;
}
i {
  padding: 0.25em;
}

.icon-links {
  color: inherit;
}

.icon-links:hover {
  color: #daa520;
}
@media (max-width: 707px) {
  body {
    nav {
      display: flex;
      justify-content: flex-end;
      position: fixed;
      // background-color: #0f2047;
      width: 100vw;
      margin: 0;
      padding-bottom: 0;
      padding-top: 0;
      align-self: center;

      li {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
      }
    }

    .home-content {
      margin-top: 30%;
      height: 100vh;
    }
    .my-name {
      font-size: 3em;
    }
    .hi {
      font-size: 1.5em;
    }
    .intro {
      font-size: 1.5em;
    }
    button {
      font-size: 1.5em;
    }

    footer {
      position: relative;
      width: 100%;
      // color: #cecece;
      display: flex;
      justify-content: flex-end;
      padding-bottom: 0.25em;
      padding-top: 0.25em;
      border-top: solid #0f2047 1px;
    }
    .my-work-title {
      margin-top: 20%;
      font-size: 3em;
    }

    .projects-container {
      img {
        max-width: 12em;
        max-height: 12em;
      }

      .image-and-description {
        display: flex;
        flex-direction: column;
      }
      h2 {
        font-size: 2em;
      }
      h3 {
        font-size: 1em;
      }
    }
    .about {
      h1 {
        font-size: 3em;
      }
      p {
        font-size: 1.5em;
      }
    }
    .headshot {
      width: 10em;
      margin-top: 25%;
    }
  }
}

.dark-mode-toggle {
  position: fixed;
  padding: 1em;
}

.dark-mode-toggle:hover {
  color: #daa520;
}

.darkMode {
  background-color: #0f2047;
  color: #e5e5e5;
}
