html {
  scroll-behavior: smooth;
}

body {
  background-color: #e5e5e5;
  color: #0f2047;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Patrick", cursive;
}

nav {
  list-style-type: none;
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 0.5em;
}
nav .nav-link {
  color: inherit;
  text-decoration: inherit;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0em;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em;
}
nav li {
  padding: 0.5em;
  text-decoration: none;
  text-decoration-color: transparent;
  transition: all 0.7s ease;
}
nav li:hover {
  text-decoration: underline;
  text-decoration-color: #daa520;
}

.home-content {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 35%;
  height: 100vh;
}

.projects {
  margin-left: 10%;
  margin-right: 30%;
  padding-top: 5%;
}

.about {
  margin-left: 10%;
  margin-right: 35%;
  padding-top: 5%;
}
.about h1 {
  font-size: 5em;
  margin: 0;
  text-shadow: 2px 3px 8px #555555;
}
.about p {
  font-size: 2em;
}

.hi {
  font-size: 2em;
  margin: 0;
  margin-bottom: 0.5em;
}

.my-name {
  font-size: 5em;
  margin: 0em;
  text-shadow: 2px 3px 8px #555555;
}

.intro {
  font-size: 2em;
  margin-top: 0.5em;
  max-width: 20em;
}

button {
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 0.5em;
  border: 0.2em;
  font-family: inherit;
  font-size: 2em;
  color: #0f2047;
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}

button:hover {
  cursor: pointer;
  border: solid #0f2047 1px;
  box-shadow: 2px 3px 8px #081731;
  color: #daa520;
}

.projects-container {
  display: flex;
  flex-direction: column;
}
.projects-container h2 {
  font-size: 2em;
  margin: 0;
}
.projects-container h3 {
  font-size: 1.5em;
  margin: 0;
}
.projects-container p {
  font-size: 1.5em;
}
.projects-container a {
  text-decoration: none;
  text-decoration-color: transparent;
  color: inherit;
  transition: all 0.3s ease;
}
.projects-container a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}

.my-work-title {
  font-size: 5em;
  margin: 0;
  margin-bottom: 0.25em;
  text-shadow: 2px 3px 8px #555555;
}

.project-card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 1em;
  border-bottom: solid #0f2047 1px;
}

.portfolio-images {
  float: left;
  max-width: 22em;
  max-height: 16em;
  margin-right: 1em;
  margin-top: 1em;
}

.listHub-image {
  border-radius: 10px;
}

.headshot {
  aspect-ratio: fixed;
  width: 15em;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.headshot:hover {
  border-radius: 30px;
}

.last-project {
  border: none;
}

footer {
  position: fixed;
  bottom: 0em;
  right: 0;
  padding: 1em;
  padding-right: 1%;
}

i {
  padding: 0.25em;
}

.icon-links {
  color: inherit;
  transition: all 0.3s ease;
}

.icon-links:hover {
  color: #daa520;
}

@media (max-width: 707px) {
  body .dark-mode-header {
    color: #0f2047;
  }
  body nav {
    position: fixed;
    width: 110vw;
    margin: 0;
    background-color: #e5e5e5;
    color: #0f2047;
    padding-bottom: 0;
    padding-top: 0;
    align-self: center;
    border-bottom: solid #0f2047 1px;
  }
  body nav li {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
  body .home-content {
    margin-top: 30%;
    height: 100vh;
  }
  body .my-name {
    font-size: 3em;
    text-shadow: none;
  }
  body .hi {
    font-size: 1.5em;
  }
  body .intro {
    font-size: 1.5em;
  }
  body button {
    font-size: 1.5em;
  }
  body footer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    border-top: solid #0f2047 1px;
  }
  body .my-work-title {
    margin-top: 20%;
    font-size: 3em;
    text-shadow: none;
  }
  body .projects-container img {
    max-width: 12em;
    max-height: 12em;
  }
  body .projects-container .image-and-description {
    display: flex;
    flex-direction: column;
  }
  body .projects-container h2 {
    font-size: 2em;
  }
  body .projects-container h3 {
    font-size: 1em;
  }
  body .about h1 {
    font-size: 3em;
    text-shadow: none;
  }
  body .about p {
    font-size: 1.5em;
  }
  body .headshot {
    width: 10em;
    margin-top: 25%;
  }
}
.dark-mode-toggle {
  position: fixed;
  justify-content: flex-start;
  padding: 1em;
  color: inherit;
  z-index: 1;
  transition: all 0.3s ease;
}

.dark-mode-toggle:hover {
  cursor: pointer;
  color: #daa520;
}

.darkMode {
  background-color: #0f2047;
  color: #e5e5e5;
}
.darkMode .my-name {
  text-shadow: none;
}
.darkMode .my-work-title {
  text-shadow: none;
}
.darkMode .about-me {
  text-shadow: none;
}

/*# sourceMappingURL=index.css.map */
